<!--Start Content Here-->
<main>
    <h1 id="title">We Are Proud</h1>
    <h2>Student & Alumni of Brandeis University</h2>
    <p>The Brandeis Student and Alumni Association is a vibrant community that offers lifelong opportunities for students and alumni to stay connected to Brandeis and each other.</p>
</main>