<!--Start Content Here-->
<main>
    <h1 id="title">Jobs</h1>
    <p>Welcome to the Jobs section of the Brandeis Students and Alumni Association. Our goal is to help connect Brandeis
        students and alumni with job opportunities and career resources.</p>
    <h2>Job Postings</h2>
    <p>Below you will find a list of job postings submitted by companies and organizations looking to hire Brandeis
        students and alumni:</p>
    <ul>
        <li>Job Title 1 - Company Name 1</li>
        <li>Job Title 2 - Company Name 2</li>
        <li>Job Title 3 - Company Name 3</li>
        <li>Job Title 4 - Company Name 4</li>
        <li>Job Title 5 - Company Name 5</li>
    </ul>
    <p>If you are interested in applying for any of these positions, please follow the instructions provided by the
        company or organization. We do not handle the application process for these job postings.</p>
    <h2>Career Resources</h2>
    <p>In addition to job postings, we also offer a variety of resources to help students and alumni in their job search
        and career development. Some of the resources we offer include:</p>
    <ul>
        <li>Resume and cover letter review services</li>
        <li>Interview preparation and practice sessions</li>
        <li>Career counseling and guidance</li>
        <li>Networking events and workshops</li>
        <li>Industry-specific job fairs and expos</li>
    </ul>
    <p>If you are interested in accessing any of these resources, please contact us using the information provided on
        the <a href="contact.html">Contact</a> page.</p>
</main>